@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-urbanist:'Urbanist', 'sans-serif';

  --color-primary: #0D47A1;
  --color-secondary: #E3F2FD;
  --color-done: #757575;
  --color-low: #1C9675;
  --color-medium: #B5A40D;
  --color-high: #B72315;
}